<template>
  <div class="end-section">
    <div class="row">
      <div class="left">
        <h4 class="menu">{{ program_data.tuition_header }}</h4>

        <FileList
          v-for="(tuition, index) in tuition_fees"
          :key="index"
          :header="tuition.title"
          :data="tuition.files"
        />
      </div>

      <div class="right">
        <nuxt-link to="/scholarship" class="menu">
          <h4>{{ program_data.scholarship_header }}</h4>

          <client-only> <ArrowUpRight24 class="arrow" /> </client-only
        ></nuxt-link>

        <FileList
          v-for="(scholarship, index) in scholarships"
          :key="index"
          :header="scholarship.title"
          :data="scholarship.files"
        />
      </div>
    </div>
  </div>
</template>

<script>
import _ from "lodash";

export default {
  props: {
    program_data: {
      type: Object,
      default: () => {
        return {};
      },
    },
  },
  computed: {
    scholarships() {
      const scholarship_undergrad_data = _.get(
        this.program_data,
        "scholarship_undergrad.data"
      );

      const scholarship_postgrad_data = _.get(
        this.program_data,
        "scholarship_postgrad.data"
      );

      const data = [
        {
          title: this.program_data.scholarship_subheader_undergrad,
          files: _.map(scholarship_undergrad_data, (d) => {
            return {
              name: _.get(d, "attributes.name"),
              file:
                process.env.api_url +
                _.get(d, "attributes.file.data.attributes.url"),
            };
          }),
        },
        {
          title: this.program_data.scholarship_subheader_postgrad,
          files: _.map(scholarship_postgrad_data, (d) => {
            return {
              name: _.get(d, "attributes.name"),
              file:
                process.env.api_url +
                _.get(d, "attributes.file.data.attributes.url"),
            };
          }),
        },
      ];

      return data;
    },
    tuition_fees() {
      const tuition_undergrad_data = _.get(
        this.program_data,
        "tuition_undergrad.data"
      );

      const tuition_postgrad_data = _.get(
        this.program_data,
        "tuition_postgrad.data"
      );

      const data = [
        {
          title: this.program_data.tuition_subheader_undergrad,
          files: _.map(tuition_undergrad_data, (d) => {
            return {
              name: _.get(d, "attributes.name"),
              file:
                process.env.api_url +
                _.get(d, "attributes.file.data.attributes.url"),
            };
          }),
        },
        {
          title: this.program_data.tuition_subheader_postgrad,
          files: _.map(tuition_postgrad_data, (d) => {
            return {
              name: _.get(d, "attributes.name"),
              file:
                process.env.api_url +
                _.get(d, "attributes.file.data.attributes.url"),
            };
          }),
        },
      ];

      return data;
    },
  },
};
</script>

<style lang="scss" scoped>
.end-section {
  border-top: 1px solid $color-primary-500;
  .row {
    display: flex;
    @include media-breakpoint(mobile) {
      display: block;
    }
    > div {
      width: 50%;
      padding: 80px;
      @include media-breakpoint(mobile) {
        width: 100%;
        padding: 40px 24px;
      }
    }
    .menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-decoration: none;
      margin-bottom: 40px;
      .arrow {
        color: $color-primary-500;
      }
    }
    .left {
      border-right: 1px solid $color-primary-500;
      @include media-breakpoint(mobile) {
        border-right: 0;
        border-bottom: 1px solid $color-primary-500;
      }
    }
  }
}
</style>
