<template>
  <div class="research-page">
    <Content :title="page_name" :data="data" hide_date />
  </div>
</template>

<script>
import _ from "lodash";
import qs from "qs";

export default {
  async asyncData({ params, $appApi }) {
    let res = {};

    const query = qs.stringify(
      {
        // populate: ["detail"],
      },
      {
        encodeValuesOnly: true,
      }
    );

    try {
      res = await $appApi.get(`/research-lists/${params.id}?${query}`);
    } catch (error) {
      console.log(error);
    }

    return { data: _.get(res, "data.attributes") || {} };
  },
  data() {
    return {
      page_name: "Research",
    };
  },
  head({ $config }) {
    return {
      title: `${this.page_name} - ${this.data.title} - ${$config.title}`,
    };
  },
};
</script>

<style lang="scss" scoped></style>
