<template>
  <div class="research-page">
    <IntroSection :title="research_data.page_name || page_name" />
    <template v-if="research_units.length > 0">
      <SectionTitle :title="research_data.section_name_1" />
      <ProgramList :data="research_units" />
    </template>
    <template v-if="publications.length > 0">
      <SectionTitle :title="research_data.section_name_2" />
      <ProgramList :data="publications" />
    </template>
  </div>
</template>

<script>
import _ from "lodash";
import qs from "qs";
import { mapMutations } from "vuex";

export default {
  data() {
    return {
      page_name: "Research",
      research_data: {},
      research_units: [],
      publications: [],
    };
  },
  head({ $config }) {
    return {
      title: `${this.page_name} - ${$config.title}`,
    };
  },
  async mounted() {
    this.setAppLoading(true);
    await Promise.all([
      this.getResearch(),
      this.getResearchUnits(),
      this.getPublications(),
    ]);
    this.setAppLoading(false);
  },
  methods: {
    ...mapMutations(["setAppLoading"]),
    async getResearch() {
      try {
        const res = await this.$appApi.get(`/research`);
        this.research_data = _.get(res, "data.attributes") || {};
      } catch (error) {
        console.log("getResearch ~ error:", error);
      }
    },
    async getResearchUnits() {
      const query = qs.stringify(
        {
          populate: "*",
          filters: {
            type: {
              $eq: "Research units",
            },
          },
          sort: ["date:desc"],
        },
        {
          encodeValuesOnly: true,
        }
      );

      try {
        const res = await this.$appApi.get(`/research-lists?${query}`);
        let data = _.get(res, "data");

        this.research_units = _.map(data, (d) => {
          return {
            ...d,
            title: _.get(d, "attributes.title"),
            url:
              _.get(d, "attributes.content_type") === "internal"
                ? `/research/${d.id}`
                : _.get(d, "attributes.link"),
            image:
              process.env.api_url +
              _.get(d, "attributes.image.data.attributes.url"),
            link_type: _.get(d, "attributes.content_type") || "external",
          };
        });
      } catch (error) {
        console.log("getResearchUnits ~ error:", error);
      }
    },
    async getPublications() {
      const query = qs.stringify(
        {
          populate: "*",
          filters: {
            type: {
              $eq: "Publications",
            },
          },
          sort: ["date:desc"],
        },
        {
          encodeValuesOnly: true,
        }
      );

      try {
        const res = await this.$appApi.get(`/research-lists?${query}`);
        let data = _.get(res, "data");

        this.publications = _.map(data, (d) => {
          return {
            ...d,
            title: _.get(d, "attributes.name"),
            url: _.get(d, "attributes.link"),
            image:
              process.env.api_url +
              _.get(d, "attributes.image.data.attributes.url"),
          };
        });
      } catch (error) {
        console.log("getPublications ~ error:", error);
      }
    },
  },
};
</script>

<style lang="scss" scoped></style>
