<template>
  <div class="home-intro-section">
    <div class="head">
      <h2 style="white-space: nowrap">Design is</h2>

      <AppImg :src="arrow_image" class="arrow" />
    </div>

    <div class="center">
      <AppImg :src="arrow_big_image" class="arrow" />

      <div class="typer-wrap">
        <span class="typer"></span>
      </div>
    </div>

    <div class="bottom">
      <AppImg :src="arrow_image" class="arrow" />
    </div>
  </div>
</template>

<script>
import _ from "lodash";
import Typed from "typed.js";

export default {
  props: {
    home_data: {
      type: Object,
      default: () => {
        return {};
      },
    },
  },
  data() {
    return {
      arrow_image: require("~/assets/images/arrow.svg"),
      arrow_big_image: require("~/assets/images/arrow_big.svg"),
    };
  },
  computed: {
    keywords() {
      const attributes = _.get(this.home_data, "attributes");
      const keywords = [];

      for (const property in attributes) {
        if (property.includes("keywords") && attributes[property]) {
          keywords.push(attributes[property]);
        }
      }

      return keywords;
    },
  },
  mounted() {
    new Typed(".typer", {
      strings: this.keywords,
      typeSpeed: 50,
      backSpeed: 50,
      loop: true,
      showCursor: true,
      cursorChar: "|",
      autoInsertCss: true,
    });
  },
};
</script>

<style lang="scss" scoped>
.home-intro-section {
  > div {
    display: flex;
    align-items: center;
    height: 120px;
    @include media-breakpoint(mobile) {
      height: 64px;
    }
    .arrow {
      height: 100%;
      object-position: right;
      @include media-breakpoint(mobile) {
        width: 50%;
      }
    }
  }
  .head {
    border-bottom: 1px solid $color-primary-500;
    h2 {
      padding: 0 46px;
      font-weight: normal;
      @include media-breakpoint(mobile) {
        padding: 0 16px;
        font-size: 36px;
      }
    }
    .arrow {
      margin-left: auto;
      @include media-breakpoint(mobile) {
        object-position: left;
      }
    }
  }
  .center {
    margin: 16px 0;
    border-top: 1px solid $color-primary-500;
    border-bottom: 1px solid $color-primary-500;
    height: 286px;
    @include media-breakpoint(mobile) {
      height: 210px;
    }
    .arrow {
      width: 50%;
      @include media-breakpoint(mobile) {
        width: 30%;
      }
    }
    .typer-wrap {
      padding: 0 42px;
      width: 50%;
      @include media-breakpoint(mobile) {
        padding: 0 16px;
        width: 70%;
      }
      ::v-deep {
        .typer,
        .typed-cursor {
          font-size: 95px;
          line-height: 95px;
          font-weight: bold;
          @include media-breakpoint(tablet) {
            font-size: 50px;
            line-height: 50px;
          }
          @include media-breakpoint(mobile) {
            font-size: 40px;
            line-height: 40px;
          }
        }
      }
    }
  }
  .bottom {
    border-top: 1px solid $color-primary-500;
  }
}
</style>
