<template>
  <div class="program-tdc-page">
    <ProgramOverviewSection :title="page_name" :tabs="overview_tabs" />
    <SliderImages
      v-if="overview_slider_images.length > 0"
      :images="overview_slider_images"
    />
    <!-- <div class="dynamic-section">
      <div class="box">
        <AppImg :src="require('~/assets/images/diagram_group.webp')" />
      </div>
      <div class="box">
        <div class="detail-list">
          <h4>
            THAILAND’S FIRST & ONLY
            <span style="color: #ec622a">BEHAVIOURAL DESIGN</span> TRAINING
            CENTER
          </h4>
          <div class="body1 description">
            Up-skill your workforce with <b>behavioural science</b> and
            <b>gamification</b> skills to design:
          </div>
          <ul class="body1">
            <li>
              <AppImg :src="require('~/assets/images/icon_1.svg')" />
              <div class="text">
                Engaging <b>customer and user experiences</b>
              </div>
            </li>
            <li>
              <AppImg :src="require('~/assets/images/icon_2.svg')" />
              <div class="text">
                Better <b>employee engagement</b> strategies
              </div>
            </li>
            <li>
              <AppImg :src="require('~/assets/images/icon_3.svg')" />
              <div class="text">
                Effective <b>behaviour change interventions</b>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div> -->
    <div class="dynamic-section">
      <div class="box">
        <AppImg :src="require('~/assets/images/innovation_1.webp')" />
      </div>
      <div class="box">
        <AppImg :src="require('~/assets/images/innovation_2.webp')" />
      </div>
    </div>
    <template v-if="new_data.length > 0">
      <SectionTitle title="News & Article" />
      <ProgramList :data="new_data" />
    </template>
    <DynamicSection
      :data="[
        {
          type: 'youtube',
          youtube_url: tdc_data.youtube_link,
        },
      ]"
    />
    <AppImg :src="require('~/assets/images/poster.webp')" class="poster" />
    <SliderImages :images="poster_images" />
    <!-- <GetInTouch
      title="What’s the “make it toolkit”?"
      :link="tdc_data.toolkit_link"
      link_text="Learn more"
      bg_color="#FDC82F"
      text_color="black"
      btn_text_color="white"
    /> -->
    <SectionTitle id="custom-training" title="Custom Training" />
    <div class="dynamic-section mobile-flip">
      <div class="box">
        <div class="detail-list">
          <h4>Our approach</h4>
          <div class="body1 description">Not the traditional university</div>
          <ul class="body1">
            <li>
              <AppImg :src="require('~/assets/images/icon_4.svg')" />
              <div class="text">
                <h5>Hands-on and interactive</h5>
                <div>
                  All training programs are highly interactive and offer a
                  chance to put in practice
                </div>
              </div>
            </li>
            <li>
              <AppImg :src="require('~/assets/images/icon_5.svg')" />
              <div class="text">
                <h5>Industry - lecturers</h5>
                <div>
                  All instructors are recognised experts in their field with
                  industry experience at senior levels
                </div>
              </div>
            </li>
            <li>
              <AppImg :src="require('~/assets/images/icon_6.svg')" />
              <div class="text">
                <h5>Mindset, Knowledge and Process</h5>
                <div>
                  All training programs are designed with the intent to change
                  mindsets, learn core concepts, and apply them through
                  tried-and-tested processes.
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="box">
        <AppImg :src="require('~/assets/images/poster1.webp')" />
      </div>
    </div>
    <div class="dynamic-section">
      <div class="box">
        <AppImg :src="require('~/assets/images/poster2.webp')" />
      </div>
      <div class="box">
        <div class="detail-list">
          <h4>Customise</h4>
          <div class="body1 description">To meet you where you are</div>
          <ul class="body1">
            <li>
              <AppImg :src="require('~/assets/images/icon_7.svg')" />
              <div class="text">
                <h5>
                  Choose domain
                  <span style="font-weight: normal"
                    >(e.g. health, finance) and design field (e.g., service,
                    product design)</span
                  >
                </h5>
                <div>
                  TDC instructors have many years of experience working in a
                  number of industries.
                </div>
              </div>
            </li>
            <li>
              <AppImg :src="require('~/assets/images/icon_8.svg')" />
              <div class="text">
                <h5>Choose duration</h5>
                <div>
                  From 1 day hackathons to whatever it takes to help you
                  succeed. Intensive or extensive mode depending on your
                  challenge.
                </div>
              </div>
            </li>
            <li>
              <AppImg :src="require('~/assets/images/icon_9.svg')" />
              <div class="text">
                <h5>Choose format</h5>
                <div>We can programs online, offline, or in hybrid modes.</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <TdcHowToApply />
    <GetInTouch
      title="Want to book custom training?"
      :link="tdc_data.custom_training_link"
      link_text="Get in touch"
    />
    <template v-if="public_program_data.length > 0">
      <SectionTitle id="public-programs" title="Programs" />
      <TdcPublicPrograms :data="public_program_data" />
    </template>
    <template v-if="people_data.length > 0">
      <SectionTitle id="people" title="People" />
      <PeopleList :data="people_data" />
    </template>
    <template v-if="career_data.length > 0">
      <SectionTitle id="alumni-testimonials" title="Alumni & Testimonials" />
      <PeopleList :data="career_data" />
    </template>
    <TdcSponsors />
    <GetInTouch
      id="get-in-touch"
      title="Growth by Design Together?"
      :link="tdc_data.growth_link"
      link_text="Get in touch"
    />
    <div class="dynamic-section">
      <div class="box">
        <AppImg :src="require('~/assets/images/noc_ceo.webp')" />
      </div>
      <div class="box">
        <div class="rich-text">
          <h6>
            <i
              >“This unique class is really useful and practical. I’ve known
              Massimo since 2018 from his class in Gamification. It was my first
              hands-on experience on behavioural design. We met again in 2020
              when NocNoc was looking for a way to up-skill our team. This
              unique class is really useful and practical. Massimo is the
              behavioural design expert who could guide and ignite the learner
              spirits in each of us.”</i
            >
          </h6>
          <h6 style="margin-top: 40px">Chonlak Mahasuvirachai</h6>
          <div style="margin-top: 24px" class="body1">
            Co-Founder and CEO at NocNoc.com
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import _ from "lodash";
import qs from "qs";

export default {
  data() {
    return {
      page_name: "TDC - Thammast Design Center",
      tdc_data: {},
      people_data: [],
      career_data: [],
      public_program_data: [],
      new_data: [],
      poster_images: [
        require("~/assets/images/card_1.webp"),
        require("~/assets/images/card_2.jpg"),
      ],
    };
  },
  head({ $config }) {
    return {
      title: `Programs - ${this.page_name} - ${$config.title}`,
    };
  },
  computed: {
    _() {
      return _;
    },
    overview_tabs() {
      let data = [
        {
          id: "#overview",
          name: "Overview",
        },
        {
          id: "#custom-training",
          name: "Custom Training",
        },
        {
          id: "#public-programs",
          name: "Programs",
        },
        {
          id: "#people",
          name: "People",
        },
        {
          id: "#alumni-testimonials",
          name: "Alumni & Testimonials",
        },
        {
          id: "#get-in-touch",
          name: "Get in Touch",
        },
      ];

      data = _.filter(data, (d) => d.name);

      return data;
    },
    overview_slider_images() {
      return _.map(_.get(this.tdc_data, "overview_slider_images.data"), (d) => {
        return process.env.api_url + _.get(d, "attributes.url");
      });
    },
  },
  async mounted() {
    await this.getTdcData();
    this.setPeopleData();
    this.setCareerData();
    this.setPublicProgramData();
    this.setNewData();
  },
  methods: {
    async getTdcData() {
      const query = qs.stringify(
        {
          populate: [
            "overview_slider_images",
            "careers.photo",
            "peoples.photo",
            "public_programs.image",
            "public_programs.file",
            "news_articles.image",
          ],
        },
        {
          encodeValuesOnly: true,
        }
      );

      try {
        const res = await this.$appApi.get(`/tdc?${query}`);
        this.tdc_data = res?.data?.attributes ?? {};
      } catch (error) {
        console.log("getTdcData ~ error:", error);
      }
    },
    setPeopleData() {
      const data = _.get(this.tdc_data, "peoples.data");

      this.people_data = _.map(data, (d) => {
        return {
          ...d,
          th_name: _.get(d, "attributes.th_name"),
          en_name: _.get(d, "attributes.en_name"),
          position: _.get(d, "attributes.position"),
          company: _.get(d, "attributes.company"),
          biography: _.get(d, "attributes.biography"),
          image:
            process.env.api_url +
            _.get(d, "attributes.photo.data.attributes.url"),
        };
      });
    },
    setCareerData() {
      const data = _.get(this.tdc_data, "careers.data");

      this.career_data = _.map(data, (d) => {
        return {
          ...d,
          th_name: _.get(d, "attributes.th_name"),
          en_name: _.get(d, "attributes.en_name"),
          position: _.get(d, "attributes.position"),
          company: _.get(d, "attributes.company"),
          biography: _.get(d, "attributes.biography"),
          image:
            process.env.api_url +
            _.get(d, "attributes.photo.data.attributes.url"),
        };
      });
    },
    setPublicProgramData() {
      const data = _.get(this.tdc_data, "public_programs.data");

      this.public_program_data = _.map(data, (d) => {
        return {
          ...d,
          url: _.get(d, "attributes.url"),
          image:
            process.env.api_url +
            _.get(d, "attributes.image.data.attributes.url"),
          file:
            process.env.api_url +
            _.get(d, "attributes.file.data.attributes.url"),
        };
      });
    },
    setNewData() {
      const data = _.get(this.tdc_data, "news_articles.data");

      this.new_data = _.map(data, (d) => {
        return {
          ...d,
          title: _.get(d, "attributes.title"),
          description: _.get(d, "attributes.description"),
          url: _.get(d, "attributes.url"),
          image:
            process.env.api_url +
            _.get(d, "attributes.image.data.attributes.url"),
          link_type: "external",
        };
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.poster {
  width: 100%;
  border-top: 1px solid $color-primary-500;
}
.mobile-flip {
  @include media-breakpoint(mobile) {
    flex-direction: column-reverse;
  }
}
</style>
