<template>
  <div class="how-to-apply">
    <div class="container">
      <h3>HOW TO APPLY:</h3>
      <div class="row">
        <div v-for="item in apply_list" :key="item">
          <AppImg :src="item" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      apply_list: [
        require("~/assets/images/apply_1.png"),
        require("~/assets/images/apply_2.png"),
        require("~/assets/images/apply_3.png"),
        require("~/assets/images/apply_4.png"),
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
.how-to-apply {
  padding: 80px 0;
  text-align: center;
  border-top: 1px solid $color-primary-500;
  @include media-breakpoint(mobile) {
    padding: 40px 0;
  }
  .row {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 24px;
    margin-top: 80px;
    @include media-breakpoint(mobile) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
      margin-top: 40px;
    }
    img {
      width: 100%;
    }
  }
}
</style>
