<template>
  <div class="public-programs">
    <div class="container">
      <div class="row">
        <div v-for="item in data" :key="item.id" class="program">
          <AppImg :src="item.image" />
          <FileList :data="[{ name: 'Course Outline', file: item.file }]" />
          <a
            :href="item.url"
            target="_blank"
            rel="noopener noreferrer"
            class="body1 btn-apply"
            ><h6>Apply</h6></a
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: Array,
      default: [],
    },
  },
};
</script>

<style lang="scss" scoped>
.public-programs {
  border-top: 1px solid $color-primary-500;
  padding: 80px 0;
  @include media-breakpoint(mobile) {
    padding: 40px 0;
  }
  .row {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 40px;
    @include media-breakpoint(mobile) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .program {
      img {
        width: 100%;
        aspect-ratio: 16/9;
      }
      .btn-apply {
        background: $color-program-architecture;
        color: white;
        display: inline-block;
        padding: 10px 36px;
        text-decoration: none;
        margin-top: 24px;
      }
    }
  }
}
</style>
