<template>
  <div class="sponsors">
    <div class="container">
      <div class="row">
        <AppImg v-for="item in sponsors" :key="item" :src="item" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      sponsors: [
        require("~/assets/images/tdc_logo1.webp"),
        require("~/assets/images/tdc_logo2.webp"),
        require("~/assets/images/tdc_logo3.webp"),
        require("~/assets/images/tdc_logo4.webp"),
        require("~/assets/images/tdc_logo5.webp"),
        require("~/assets/images/tdc_logo6.webp"),
        require("~/assets/images/tdc_logo7.webp"),
        require("~/assets/images/tdc_logo8.webp"),
        require("~/assets/images/tdc_logo9.webp"),
        require("~/assets/images/tdc_logo10.webp"),
        require("~/assets/images/tdc_logo11.webp"),
        require("~/assets/images/tdc_logo12.webp"),
        require("~/assets/images/tdc_logo13.webp"),
        require("~/assets/images/tdc_logo14.webp"),
        require("~/assets/images/tdc_logo15.webp"),
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
.sponsors {
  border-top: 1px solid $color-primary-500;
  padding: 80px 0;
  @include media-breakpoint(mobile) {
    padding: 40px 0;
  }
  .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
    @include media-breakpoint(mobile) {
      gap: 16px;
    }
    img {
      width: 10%;
      @include media-breakpoint(mobile) {
        width: 15%;
      }
    }
  }
}
</style>
