<template>
  <div class="content">
    <div class="container">
      <div class="head">
        <client-only>
          <ArrowLeft24 class="btn-back" @click="$router.back()" />
        </client-only>

        <h5>{{ title }}</h5>
      </div>

      <div v-if="data.date || data.location" class="date-wrap body1">
        <div v-if="!hide_date && data.date" class="date">
          {{ getDateTime(data.date) }}
        </div>

        <div v-if="data.location" class="location">
          {{ data.location }}
        </div>
      </div>

      <h3 class="title">{{ data.title }}</h3>

      <div class="rich-text" v-html="$replaceMediaPath(data.detail)"></div>
    </div>
  </div>
</template>

<script>
import moment from "moment";

export default {
  props: {
    data: {
      type: Object,
      default: {},
    },
    title: {
      type: String,
      default: "Title",
    },
    hide_date: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    getDateTime(w) {
      return moment(w).format("ddd, MMM D YYYY, H:mm A");
    },
  },
};
</script>

<style lang="scss" scoped>
.container {
  max-width: 920px;
  padding-top: 80px;
  @include media-breakpoint(mobile) {
    padding-top: 24px;
  }
  .head {
    display: flex;
    align-items: center;
    .btn-back {
      cursor: pointer;
      color: $color-primary-500;
      margin-right: 12px;
    }
  }
  .date-wrap {
    margin-top: 32px;
    padding: 8px;
    border-top: 1px solid $color-primary-500;
    border-bottom: 1px solid $color-primary-500;
    .date {
      color: $color-primary-500;
    }
    .location {
      color: $color-text-medium;
    }
  }
  h3.title {
    margin-top: 40px;
    @include media-breakpoint(mobile) {
      margin-top: 20px;
    }
  }
  .rich-text {
    margin: 40px 0 80px 0;
    @include media-breakpoint(mobile) {
      margin: 20px 0 40px 0;
    }
  }
}
</style>
