<template>
  <div class="event-list">
    <div class="container">
      <div class="event-wrap">
        <nuxt-link
          v-for="d in data"
          :to="`/events/${d.id}`"
          :key="d.id"
          class="event"
        >
          <AppImg :src="d.image" class="image" />

          <h6>{{ d.title }}</h6>

          <div v-if="d.date" class="body1 datetime">
            {{ getDateTime(d.date) }}
          </div>

          <div v-if="d.location" class="body1 faculty">{{ d.location }}</div>
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment";

export default {
  props: {
    data: {
      type: Array,
      default: () => {
        return [];
      },
    },
  },
  methods: {
    getDateTime(w) {
      return moment(w).format("ddd, MMM D YYYY, H:mm A");
    },
  },
};
</script>

<style lang="scss" scoped>
.event-list {
  padding: 40px 0 80px 0;
  border-top: 1px solid $color-primary-500;
  @include media-breakpoint(mobile) {
    padding: 0 0 40px 0;
  }
  .event-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -24px;
    @include media-breakpoint(mobile) {
      display: block;
    }
  }
  .event {
    width: 33.33%;
    padding: 0 24px;
    margin-top: 40px;
    text-decoration: none;
    display: block;
    @include media-breakpoint(mobile) {
      margin: 40px 0 0 0;
      width: 100%;
    }
    .image {
      width: 100%;
      aspect-ratio: 16/9;
    }
    h6 {
      margin-top: 24px;
    }
    .datetime {
      color: $color-primary-500;
      margin-top: 16px;
      font-weight: bold;
    }
    .faculty {
      margin-top: 4px;
      color: $color-text-medium;
    }
  }
  .event:last-of-type {
    margin-right: 0;
  }
}
</style>
