<template>
  <div class="footer-bar">
    <div class="footer">
      <div class="container">
        <div class="row row-1">
          <div class="left body2">
            <nuxt-link to="/">
              <AppImg :src="logo" class="logo" />
            </nuxt-link>

            <div
              v-html="$replaceMediaPath(footer_data.address)"
              class="rich-text"
            ></div>

            <div
              v-html="$replaceMediaPath(footer_data.contact)"
              class="rich-text"
            ></div>
          </div>

          <div class="right">
            <div class="menu-wrap body1">
              <div class="set">
                <nuxt-link
                  v-for="(menu, index) in menu_list_1"
                  :key="index"
                  :to="menu.path"
                >
                  {{ menu.name }}
                </nuxt-link>
              </div>

              <div class="set">
                <nuxt-link
                  v-for="(menu, index) in menu_list_2"
                  :key="index"
                  :to="menu.path"
                >
                  {{ menu.name }}
                </nuxt-link>
              </div>
            </div>
          </div>
        </div>

        <div class="row row-2 body2">
          <div class="policy">
            <a
              v-for="(policy, index) in policy_list"
              :key="index"
              :href="policy.link"
              target="_blank"
              rel="noopener noreferrer"
            >
              {{ policy.name }}
            </a>
          </div>

          <div class="social">
            <a
              v-for="(social, index) in social_list"
              :key="index"
              :href="social.link"
              target="_blank"
              rel="noopener noreferrer"
            >
              <AppImg :src="social.icon" />
              {{ social.name }}
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="copyright body2">
      <div class="container">
        ©2022 Faculty of Architecture and Planning, Thammasat University All
        Rights Reserved.
      </div>
    </div>
  </div>
</template>

<script>
import _ from "lodash";
import qs from "qs";

export default {
  data() {
    return {
      logo: require("~/assets/images/tds_logo.png"),
      footer_data: {},
      menu_list_1: [
        {
          name: "Faculty",
          path: "/faculty",
        },
        {
          name: "Programs",
          path: "/programs",
        },
        {
          name: "Student",
          path: "/student",
        },
        {
          name: "Research",
          path: "/research",
        },
      ],
      menu_list_2: [
        {
          name: "Scholarship",
          path: "/scholarship",
        },
        {
          name: "Announcements",
          path: "/announcements",
        },
        {
          name: "Events",
          path: "/events",
        },
        {
          name: "Jobs",
          path: "/jobs",
        },
        {
          name: "Procurement",
          path: "/procurement",
        },
        {
          name: "Contact",
          path: "/contact",
        },
      ],
    };
  },
  computed: {
    policy_list() {
      return [
        {
          name: "Cookies policy",
          link:
            process.env.api_url +
            _.get(this.footer_data, "cookies_policy.data.attributes.url"),
        },
        {
          name: "Legal policy",
          link:
            process.env.api_url +
            _.get(this.footer_data, "legal_policy.data.attributes.url"),
        },
        {
          name: "Privacy policy",
          link:
            process.env.api_url +
            _.get(this.footer_data, "privacy_policy.data.attributes.url"),
        },
      ];
    },
    social_list() {
      return [
        {
          name: "Facebook",
          icon: require("~/assets/images/facebook.svg"),
          link: this.footer_data.facebook,
        },
        {
          name: "Instagram",
          icon: require("~/assets/images/instagram.svg"),
          link: this.footer_data.instagram,
        },
        {
          name: "YouTube",
          icon: require("~/assets/images/youtube.svg"),
          link: this.footer_data.youtube,
        },
      ];
    },
  },
  mounted() {
    this.getFooterData();
  },
  methods: {
    async getFooterData() {
      const query = qs.stringify(
        {
          populate: "*",
        },
        {
          encodeValuesOnly: true,
        }
      );

      try {
        const res = await this.$appApi.get(`/footer?${query}`);
        this.footer_data = _.get(res, "data.attributes") || {};
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.footer-bar {
  border-top: 1px solid $color-primary-500;
  .footer {
    padding: 40px 0;
    @include media-breakpoint(mobile) {
      padding: 24px 0;
    }
    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include media-breakpoint(mobile) {
        display: block;
      }
      .left {
        max-width: 360px;
        .logo {
          width: 152px;
        }
        .rich-text {
          margin-top: 20px;
        }
      }
      .right {
        @include media-breakpoint(mobile) {
          margin-top: 40px;
        }
        .menu-wrap {
          display: flex;
          .set {
            width: 160px;
            padding: 0 20px;
            @include media-breakpoint(mobile) {
              width: 50%;
              padding: 0;
            }
            a {
              margin-top: 8px;
              display: block;
            }
          }
        }
      }
    }
    .row-2 {
      .policy {
        gap: 20px;
        display: flex;
        margin-top: 40px;
      }
      .social {
        gap: 12px;
        display: flex;
        margin-top: 40px;
        a {
          display: flex;
          align-items: center;
          gap: 8px;
          text-decoration: none;
        }
      }
    }
  }
  .copyright {
    padding: 16px 0;
    text-align: center;
    background: $color-basic-grey;
  }
}
</style>
