<template>
  <div class="nav-bar">
    <div class="container">
      <nuxt-link to="/">
        <AppImg :src="logo" class="logo" />
      </nuxt-link>

      <client-only>
        <div class="right">
          <div v-if="$mq !== 'mobile'" class="menu-wrap">
            <nuxt-link
              v-for="menu in menu_list"
              :key="menu.name"
              :to="menu.path"
              :class="{
                menu: true,
                body1: true,
                'is-active': `/${$route.path.split('/')[1]}` === menu.path,
              }"
            >
              {{ menu.name }}
            </nuxt-link>
          </div>

          <div class="hamburger" @click="show_drawer = true">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </client-only>
    </div>

    <el-drawer
      :visible.sync="show_drawer"
      :modal="false"
      :size="$mq === 'mobile' ? '100%' : '500px'"
      direction="rtl"
      class="drawer-menu"
    >
      <div v-for="(drawer, index) in drawer_list" :key="index" class="menu">
        <h5 class="head">
          {{ drawer.name }}
        </h5>

        <div class="content">
          <div
            v-for="(group, index) in drawer.groups"
            :key="index"
            class="group"
          >
            <div v-if="group.name" class="name body1">
              <b>{{ group.name }}</b>
            </div>

            <template v-if="group.link && group.link !== '<p></p>'">
              <div v-if="group.sub_name" class="sub-name body2">
                {{ group.sub_name }}
              </div>

              <div
                v-html="$replaceMediaPath(group.link)"
                class="rich-text"
              ></div>
            </template>
          </div>

          <a v-if="drawer.button" :href="drawer.button.link" class="btn">
            <h6>{{ drawer.button.label }}</h6>
          </a>
        </div>
      </div>
    </el-drawer>
  </div>
</template>

<script>
import _ from "lodash";
import qs from "qs";

export default {
  data() {
    return {
      logo: require("~/assets/images/tds_logo.png"),
      menu_list: [
        {
          name: "Faculty",
          path: "/faculty",
        },
        {
          name: "Programs",
          path: "/programs",
        },
        {
          name: "Student",
          path: "/student",
        },
        {
          name: "Research",
          path: "/research",
        },
        {
          name: "Contact",
          path: "/contact",
        },
      ],
      show_drawer: false,
      nav_bar_data: {},
    };
  },
  computed: {
    drawer_list() {
      return [
        {
          name: this.nav_bar_data.section_header_1,
          button: {
            label: "Apply now",
            link: this.nav_bar_data.button_apply,
          },
          groups: [
            {
              name: this.nav_bar_data.sub_section_1,
              sub_name: "Degree program",
              link: this.nav_bar_data.degree_built_environment,
            },
            {
              sub_name: "Non-degree program",
              link: this.nav_bar_data.non_degree_built_environment,
            },
            {
              name: this.nav_bar_data.sub_section_2,
              sub_name: "Degree program",
              link: this.nav_bar_data.degree_design_strategy,
            },
            {
              sub_name: "Non-degree program",
              link: this.nav_bar_data.non_degree_design_strategy,
            },
          ],
        },
        {
          name: this.nav_bar_data.section_header_2,
          button: {
            label: "Login",
            link: this.nav_bar_data.button_login,
          },
          groups: [
            {
              link: this.nav_bar_data.faculty_list,
            },
          ],
        },
        {
          name: this.nav_bar_data.section_header_3,
          groups: [
            {
              link: this.nav_bar_data.resources_list,
            },
          ],
        },
      ];
    },
  },
  mounted() {
    this.getNavBarData();
  },
  // mounted() {
  //   this.scrollToSection();
  // },
  methods: {
    scrollToSection() {
      document.querySelector(this.$route.hash).scrollIntoView({
        behavior: "smooth",
      });
    },
    async getNavBarData() {
      const query = qs.stringify(
        {
          populate: "*",
        },
        {
          encodeValuesOnly: true,
        }
      );
      try {
        const res = await this.$appApi.get(`/hamburger-menu?${query}`);
        this.nav_bar_data = _.get(res, "data.attributes") || {};
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.nav-bar {
  height: 80px;
  border-bottom: 1px solid $color-primary-500;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    .logo {
      width: 152px;
    }
    .right {
      display: flex;
      align-items: center;
      .menu-wrap {
        .menu {
          padding: 10px 12px;
          text-decoration: none;
        }
        .menu.is-active {
          font-weight: bold;
          border-bottom: 1px solid $color-primary-500;
        }
      }
      .hamburger {
        padding: 4px;
        cursor: pointer;
        margin-left: 24px;
        div {
          width: 30px;
          height: 2px;
          background: $color-primary-500;
          margin: 4px 0;
        }
      }
    }
  }
  .drawer-menu {
    ::v-deep {
      .el-drawer {
        box-shadow: none;
        background: black;
        color: white;
        .el-drawer__header {
          height: 80px;
          padding: 30px 40px;
          margin: 0;
          border-bottom: 1px solid white;
          @include media-breakpoint(mobile) {
            padding: 30px 24px;
          }
          .el-drawer__close-btn {
            color: white;
            font-weight: bold;
            font-size: 30px;
          }
        }
        .el-drawer__body {
          padding-bottom: 40px;
          .menu {
            .head {
              border-top: 1px solid white;
              border-bottom: 1px solid white;
              padding: 8px 40px;
              @include media-breakpoint(mobile) {
                padding: 8px 24px;
              }
            }
            .content {
              padding: 40px;
              @include media-breakpoint(mobile) {
                padding: 24px;
              }
              .group {
                margin-bottom: 40px;
                .name {
                  padding: 8px 0;
                  border-bottom: 1px solid white;
                }
                .sub-name {
                  color: $color-text-light-grey;
                  margin: 12px 0;
                }
              }
              .btn {
                border: 1px solid white;
                color: white;
                display: block;
                text-align: center;
                padding: 12px 24px;
                text-decoration: none;
              }
              .btn:hover {
                background: rgba(255, 255, 255, 0.3);
              }
              .rich-text {
                p {
                  margin: 0;
                }
                br {
                  display: none;
                }
                a {
                  padding: 8px 0;
                  color: white;
                  display: block;
                  text-decoration: none;
                  border-bottom: 1px solid transparent;
                }
                a:hover {
                  border-bottom: 1px solid $color-primary-500;
                }
              }
            }
          }
          .menu:first-child {
            .head {
              border-top: 0;
            }
          }
        }
      }
    }
  }
}
</style>
