<template>
  <div class="news-list">
    <div class="container">
      <nuxt-link
        v-for="d in data"
        :key="d.id"
        :to="`/announcements/${d.id}`"
        class="announcement body1"
      >
        <div class="left">
          <div class="news">
            <client-only>
              <Document24 class="icon" />
            </client-only>

            <b>News</b>
          </div>

          <div class="line"></div>

          <div class="title">{{ d.title }}</div>
        </div>

        <div class="date">{{ getDateTime(d.createdAt) }}</div>
      </nuxt-link>
    </div>
  </div>
</template>

<script>
import moment from "moment";

export default {
  props: {
    data: {
      type: Array,
      default: () => {
        return [];
      },
    },
  },
  methods: {
    getDateTime(w) {
      return moment(w).format("MMM D, YYYY");
    },
  },
};
</script>

<style lang="scss" scoped>
.news-list {
  padding: 80px 0;
  border-top: 1px solid $color-primary-500;
  @include media-breakpoint(mobile) {
    padding: 40px 0;
  }
  .announcement {
    display: flex;
    align-items: center;
    padding: 16px 0;
    border-top: 1px solid $color-primary-500;
    justify-content: space-between;
    text-decoration: none;
    @include media-breakpoint(mobile) {
      align-items: flex-start;
    }
    .left {
      display: flex;
      align-items: center;
      @include media-breakpoint(mobile) {
        display: block;
      }
      .news {
        display: flex;
        align-items: center;
        .icon {
          flex: none;
          margin-right: 8px;
        }
      }
      .title {
        @include media-breakpoint(mobile) {
          margin-top: 8px;
        }
      }
    }
    .line {
      width: 1px;
      height: 20px;
      background: $color-primary-500;
      margin: 0 12px;
      @include media-breakpoint(mobile) {
        display: none;
      }
    }
    .date {
      color: $color-primary-500;
      margin-left: 16px;
      flex: none;
    }
  }
  .announcement:last-of-type {
    border-bottom: 1px solid $color-primary-500;
  }
}
</style>
