<template>
  <div class="program-list">
    <div class="container">
      <h4 v-if="title" class="title">{{ title }}</h4>

      <div class="program-wrap">
        <a
          v-for="d in data"
          :key="d.id"
          :href="d.url"
          :target="d.link_type === 'external' ? '_blank' : ''"
          rel="noopener noreferrer"
          class="program"
        >
          <AppImg :src="d.image" class="image" />

          <h5>{{ d.title }}</h5>

          <div v-if="d.description" class="body1">{{ d.description }}</div>

          <client-only>
            <ArrowUpRight24 class="arrow" />
          </client-only>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: Array,
      default: () => {
        return [];
      },
    },
    title: {
      type: String,
      default: "",
    },
  },
};
</script>

<style lang="scss" scoped>
.program-list {
  padding: 40px 0;
  border-top: 1px solid $color-primary-500;
  @include media-breakpoint(mobile) {
    padding: 0;
  }
  .program-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -24px;
    @include media-breakpoint(mobile) {
      display: block;
      margin: 0;
    }
    .program {
      width: 33.33%;
      padding: 0 24px;
      margin-top: 40px;
      text-decoration: none;
      display: block;
      @include media-breakpoint(mobile) {
        width: 100%;
        border-bottom: 1px solid $color-primary-500;
        padding: 0 0 40px 0;
      }
      .image {
        width: 100%;
        aspect-ratio: 16/9;
        background: $color-basic-grey;
      }
      h5 {
        margin-top: 16px;
      }
      .body1 {
        margin-top: 16px;
      }
      .arrow {
        color: $color-primary-500;
        margin-top: 16px;
      }
    }
    .program:not(:nth-child(3n)) {
      border-right: 1px solid $color-primary-500;
      @include media-breakpoint(mobile) {
        border-right: 0;
      }
    }
    .program:last-child {
      border: none;
    }
  }
}
</style>
