<template>
  <div class="section-title">
    <div class="container">
      <h3>{{ title }}</h3>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: "Title",
    },
  },
};
</script>

<style lang="scss" scoped>
.section-title {
  padding: 32px 0;
  border-top: 1px solid $color-primary-500;
  @include media-breakpoint(mobile) {
    padding: 16px 0;
  }
}
</style>
