<template>
  <el-carousel
    trigger="click"
    arrow="always"
    id="overview"
    height="50vw"
    class="overview-slider-images"
  >
    <el-carousel-item v-for="item in images" :key="item">
      <AppImg :src="item" />
    </el-carousel-item>
  </el-carousel>
</template>

<script>
export default {
  props: {
    images: {
      type: Array,
      default: [],
    },
  },
};
</script>

<style lang="scss" scoped>
.overview-slider-images {
  border-top: 1px solid $color-primary-500;
  ::v-deep {
    .el-carousel__item {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .el-carousel__arrow {
      background: $color-primary-500;
      i {
        font-weight: bold;
      }
    }
    .el-carousel__indicator.is-active {
      .el-carousel__button {
        background: $color-primary-500;
      }
    }
    .el-carousel__indicators--horizontal {
      width: 100%;
      display: flex;
      justify-content: center;
      .el-carousel__button {
        background: $color-text-light-grey;
        @include media-breakpoint(mobile) {
          width: 20px;
        }
      }
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}
</style>
