<template>
  <div class="widget">
    <el-popover
      :visible-arrow="false"
      placement="top-end"
      width="320"
      trigger="manual"
      popper-class="widget-popover"
      v-model="is_expand"
    >
      <button
        slot="reference"
        class="btn-widget"
        @click="is_expand = !is_expand"
      >
        <client-only>
          <Close32 v-if="is_expand" class="icon" />

          <Help32 v-else class="icon" />
        </client-only>
      </button>

      <div class="dialog">
        <h6>Hi, what are you looking for?</h6>

        <nuxt-link
          v-for="(menu, index) in menu_list"
          :key="index"
          :to="menu.link"
          class="menu body1"
          @click.native="is_expand = false"
          >{{ menu.name }}
        </nuxt-link>
      </div>
    </el-popover>
  </div>
</template>

<script>
export default {
  data() {
    return {
      is_expand: false,
      menu_list: [
        {
          name: "Find a course to apply",
          link: "/programs",
        },
        {
          name: "Service for current students",
          link: "/student",
        },
        {
          name: "Do research with TDS",
          link: "/research",
        },
        {
          name: "Contact us",
          link: "/contact",
        },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
.widget {
  .btn-widget {
    position: fixed;
    bottom: 40px;
    right: 40px;
    border-radius: 100%;
    background: $color-primary-500;
    border: none;
    width: 80px;
    height: 80px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    @include media-breakpoint(mobile) {
      bottom: 24px;
      right: 24px;
      width: 60px;
      height: 60px;
    }
    .icon {
      transform: scale(1.3);
      @include media-breakpoint(mobile) {
        transform: scale(1);
      }
    }
  }
}
</style>

<style lang="scss">
.widget-popover {
  border: 1px solid $color-primary-500;
  border-radius: 16px;
  padding: 0;
  box-shadow: 0px 90px 36px rgba(255, 86, 0, 0.01),
    0px 51px 30px rgba(255, 86, 0, 0.05), 0px 23px 23px rgba(255, 86, 0, 0.09),
    0px 6px 12px rgba(255, 86, 0, 0.1), 0px 0px 0px rgba(255, 86, 0, 0.1);
  text-align: center;
  overflow: clip;
  h6 {
    padding: 16px 12px;
    color: $color-primary-500;
  }
  .menu {
    border-top: 1px solid $color-primary-500;
    display: block;
    padding: 12px;
    text-decoration: none;
  }
  .menu:hover {
    background: $color-primary-500;
    color: white;
  }
}
</style>
