<template>
  <!-- <youtube :video-id="videoId" ref="youtube" fitParent></youtube> -->
  <iframe
    :src="`https://www.youtube.com/embed/${embed_id}`"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
    class="youtube-player"
  ></iframe>
</template>

<script>
import { getIdFromUrl } from "vue-youtube";

export default {
  props: {
    video_url: {
      type: String,
      default: "",
    },
  },
  computed: {
    embed_id() {
      return getIdFromUrl(this.video_url);
    },
  },
};
</script>

<style lang="scss" scoped>
.youtube-player {
  width: 100%;
  height: 100%;
}
</style>
