<template>
  <div class="events-page">
    <IntroSection :title="page_name" />

    <div class="container">
      <div class="head">
        <el-tabs v-model="tab_key" @tab-click="tabClick">
          <el-tab-pane
            v-for="tab in tabs"
            :key="tab.key"
            :name="tab.key"
            :label="tab.name"
          ></el-tab-pane>
        </el-tabs>

        <!-- <el-pagination :page-size="10" layout="prev, pager, next" :total="100">
        </el-pagination> -->
      </div>
    </div>

    <EventList :data="events_data" />
  </div>
</template>

<script>
import _ from "lodash";
import qs from "qs";

export default {
  data() {
    return {
      page_name: "Events",
      tab_key: "upcoming",
      tabs: [
        {
          name: "Upcoming",
          key: "upcoming",
        },
        {
          name: "Past",
          key: "past",
        },
        {
          name: "All",
          key: "all",
        },
      ],
      events_data: [],
    };
  },
  head({ $config }) {
    return {
      title: `${this.page_name} - ${$config.title}`,
    };
  },
  mounted() {
    this.getEventsData();
  },
  methods: {
    async getEventsData() {
      const query = qs.stringify(
        {
          populate: "*",
          filters: {
            date: {
              $gt: this.tab_key === "upcoming" ? new Date() : undefined,
              $lt: this.tab_key === "past" ? new Date() : undefined,
            },
          },
          sort: ["date:desc"],
        },
        {
          encodeValuesOnly: true,
        }
      );

      try {
        const res = await this.$appApi.get(`/events?${query}`);
        let data = _.get(res, "data");

        this.events_data = _.map(data, (d) => {
          return {
            id: _.get(d, "id"),
            ..._.get(d, "attributes"),
            image:
              process.env.api_url +
              _.get(d, "attributes.image.data.attributes.url"),
          };
        });
      } catch (error) {
        console.log(error);
      }
    },
    tabClick() {
      this.getEventsData();
    },
  },
};
</script>

<style lang="scss" scoped>
.events-page {
  .head {
    display: flex;
    margin-top: 80px;
    justify-content: space-between;
  }
  .event-list {
    padding-top: 0;
  }
}
</style>
