@mixin media-breakpoint($size) {
  @if $size == mobile {
    @media (max-width: 1024px) {
      @content;
    }
  }
}

$font-family: "Archivo", "Prompt", sans-serif;
$color-primary-500: #ff5500;
$color-primary-100: #fff4ee;
$color-program-architecture: #d00000;
$color-basic-grey: #f0f0f0;
$color-text-medium: #7d7d7d;
$color-text-light-grey: #b5b5b5;
