<template>
  <div class="error-page">
    <div class="container">
      <h5>Page not found</h5>

      <nuxt-link to="/">Back to Home Page</nuxt-link>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.error-page {
  text-align: center;
  padding: 40px 0;
  a {
    display: block;
    margin-top: 40px;
  }
}
</style>
