<template>
  <div class="application-page">
    <IntroSection :title="application_data.page_name || page_name" />

    <DynamicSection :data="explain_data" />

    <SectionTitle :title="application_data.section_undergraduate" />

    <div class="section-wrap">
      <div class="container">
        <div class="section">
          <h6>{{ application_data.undergraduate_thai_header }}</h6>

          <div
            v-html="
              $replaceMediaPath(application_data.undergraduate_thai_table)
            "
            class="rich-text"
          ></div>
        </div>

        <div class="section">
          <h6>{{ application_data.undergraduate_inter_header }}</h6>

          <div
            v-html="
              $replaceMediaPath(application_data.undergraduate_inter_table)
            "
            class="rich-text"
          ></div>
        </div>
      </div>
    </div>

    <SectionTitle :title="application_data.section_graduate" />

    <div class="section-wrap">
      <div class="container">
        <div class="section">
          <div
            v-html="$replaceMediaPath(application_data.graduate_bullet_link)"
            class="rich-text"
          ></div>

          <br />

          <div
            v-html="$replaceMediaPath(application_data.graduate_table)"
            class="rich-text"
          ></div>
        </div>

        <div class="section">
          <h6>ปริญญาตรี</h6>

          <div v-for="item in 5" :key="item">
            <a
              v-if="application_data[`bachelor_program_${item}_link`]"
              :href="application_data[`bachelor_program_${item}_link`]"
              target="_blank"
              rel="noopener noreferrer"
              class="link"
            >
              <h6>
                {{ application_data[`bachelor_program_${item}_text`] }}
              </h6>
            </a>
          </div>
        </div>

        <div class="section">
          <h6>ปริญญาโท</h6>

          <div v-for="item in 5" :key="item">
            <a
              v-if="application_data[`graduate_program_${item}_link`]"
              :href="application_data[`graduate_program_${item}_link`]"
              target="_blank"
              rel="noopener noreferrer"
              class="link"
            >
              <h6>
                {{ application_data[`graduate_program_${item}_text`] }}
              </h6>
            </a>
          </div>
        </div>

        <div class="section">
          <h6>ปริญญาเอก</h6>

          <div v-for="item in 5" :key="item">
            <a
              v-if="application_data[`doctoral_program_${item}_link`]"
              :href="application_data[`doctoral_program_${item}_link`]"
              target="_blank"
              rel="noopener noreferrer"
              class="link"
            >
              <h6>
                {{ application_data[`doctoral_program_${item}_text`] }}
              </h6>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import _ from "lodash";
import qs from "qs";

export default {
  data() {
    return {
      page_name: "Application",
      application_data: {},
    };
  },
  head({ $config }) {
    return {
      title: `${this.page_name} - ${$config.title}`,
    };
  },
  computed: {
    explain_data() {
      return [
        {
          id: 1,
          type: "rich text",
          detail: this.application_data.description,
        },
        {
          id: 2,
          type: "image",
          image: _.get(this.application_data, "image"),
        },
      ];
    },
  },
  mounted() {
    this.getApplicationData();
  },
  methods: {
    async getApplicationData() {
      const query = qs.stringify(
        {
          populate: "*",
        },
        {
          encodeValuesOnly: true,
        }
      );

      try {
        const res = await this.$appApi.get(`/application?${query}`);
        this.application_data = _.get(res, "data.attributes") || {};
      } catch (error) {
        console.log("getApplicationData ~ error:", error);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.application-page {
  .section-wrap {
    padding: 40px 0 80px 0;
    border-top: 1px solid $color-primary-500;
    @include media-breakpoint(mobile) {
      padding: 0 0 40px 0;
    }
    .section {
      margin-top: 40px;
      h6 {
        margin-bottom: 40px;
      }
      .link {
        padding: 12px;
        border: 1px solid $color-primary-500;
        display: block;
        text-align: center;
        color: $color-primary-500;
        text-decoration: none;
        margin-top: 12px;
        h6 {
          margin: 0;
        }
      }
    }
  }
}
</style>
