<template>
  <div class="contact-page">
    <IntroSection :title="contact_data.page_name || page_name" />

    <div class="row">
      <div class="left">
        <h4>{{ contact_data.faculty_name }}</h4>

        <div
          v-html="$replaceMediaPath(contact_data.faculty_address)"
          class="rich-text"
        ></div>
      </div>

      <div class="right">
        <div id="map"></div>
      </div>
    </div>
  </div>
</template>

<script>
import mapboxgl from "mapbox-gl/dist/mapbox-gl.js";
import _ from "lodash";

export default {
  data() {
    return {
      page_name: "Contact",
      contact_data: {},
      map: null,
      marker: null,
      current_place_position: {
        lat: 14.0680981,
        lng: 100.6087633,
      },
    };
  },
  head({ $config }) {
    return {
      title: `${this.page_name} - ${$config.title}`,
    };
  },
  mounted() {
    this.getContactData();
    this.initMap();
  },
  methods: {
    async getContactData() {
      try {
        const res = await this.$appApi.get(`/contact`);
        this.contact_data = _.get(res, "data.attributes") || {};
      } catch (error) {
        console.log("getContactData ~ error:", error);
      }
    },
    initMap() {
      mapboxgl.accessToken = process.env.mapbox_token;

      this.map = new mapboxgl.Map({
        container: "map",
        style: "mapbox://styles/mapbox/streets-v11",
        center: [
          this.current_place_position.lng,
          this.current_place_position.lat,
        ],
        zoom: 16,
      });

      this.map.addControl(new mapboxgl.NavigationControl());

      this.marker = new mapboxgl.Marker()
        .setLngLat([
          this.current_place_position.lng,
          this.current_place_position.lat,
        ])
        .addTo(this.map);
    },
  },
};
</script>

<style lang="scss" scoped>
@import url("https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css");

.contact-page {
  .row {
    display: flex;
    border-top: 1px solid $color-primary-500;
    @include media-breakpoint(mobile) {
      display: block;
    }
    > div {
      width: 50%;
      @include media-breakpoint(mobile) {
        width: 100%;
      }
    }
    .left {
      padding: 80px;
      border-right: 1px solid $color-primary-500;
      @include media-breakpoint(mobile) {
        border: none;
        border-bottom: 1px solid $color-primary-500;
        padding: 40px 24px;
      }
      .rich-text {
        margin-top: 40px;
      }
    }
    .right {
      #map {
        width: 100%;
        height: 640px;
        @include media-breakpoint(mobile) {
          height: 320px;
        }
      }
    }
  }
}
</style>
