<template>
  <div class="faculty-page">
    <IntroSection :title="page_name" />
    <DynamicSection id="about" :data="explain_data" />
    <div id="people"></div>
    <template v-if="people_data.length > 0">
      <SectionTitle title="People" />
      <div class="tab-wrap">
        <div class="container">
          <el-tabs v-model="people_tab_key" @tab-click="peopleTabClick">
            <el-tab-pane
              v-for="tab in people_tabs"
              :key="tab.key"
              :name="tab.key"
              :label="tab.name"
            ></el-tab-pane>
          </el-tabs>
        </div>
      </div>
      <PeopleList :data="people_data" style="border-top: 0" />
      <el-pagination
        v-if="pagination.total"
        :current-page="pagination.page"
        :page-size="pagination.page_size"
        :total="pagination.total"
        layout="prev, pager, next"
        @current-change="changePage"
      >
      </el-pagination>
    </template>
    <SectionTitle id="partnership" style="border-bottom: 0" title="Partners" />
    <DynamicSection :data="our_partner_data" />
    <div v-if="faculty_data.partner_image" class="partner-logo">
      <div class="container">
        <AppImg :src="faculty_data.partner_image" />
      </div>
    </div>
    <DynamicSection :data="us_partner_data" />
  </div>
</template>

<script>
import _ from "lodash";
import qs from "qs";
import { mapMutations } from "vuex";

export default {
  data() {
    return {
      page_name: "Faculty",
      faculty_data: {},
      people_data: [],
      people_tab_key: "faculty_tab1",
      pagination: {
        page: 1,
        page_size: 16,
        total: 0,
      },
    };
  },
  head({ $config }) {
    return {
      title: `${this.page_name} - ${$config.title}`,
    };
  },
  computed: {
    people_tabs() {
      const tab_key = [
        {
          value_key: "people_tab1",
          people_tab_key: "faculty_tab1",
        },
        {
          value_key: "people_tab2",
          people_tab_key: "faculty_tab2",
        },
        {
          value_key: "people_tab3",
          people_tab_key: "faculty_tab3",
        },
        {
          value_key: "people_tab4",
          people_tab_key: "faculty_tab4",
        },
      ];

      const tab_arr = _.map(tab_key, (d) => {
        return {
          name: _.get(this.faculty_data, d.value_key),
          key: d.people_tab_key,
        };
      });
      return tab_arr;
    },
    explain_data() {
      return this.$mq === "mobile"
        ? [
            {
              id: 1,
              type: "rich text",
              detail: `<h4>${this.faculty_data.why_header}</h4>
              <div style="margin-top: 24px" class="body1">${this.faculty_data.why_description}</div>`,
            },
            {
              id: 2,
              type: "image",
              image: _.get(this.faculty_data, "why_image"),
            },
            {
              id: 4,
              type: "rich text",
              detail: `<h4>${this.faculty_data.value_header}</h4>
              <div style="margin-top: 24px" class="body1">${this.faculty_data.value_description}</div>`,
            },
            {
              id: 3,
              type: "image",
              image: _.get(this.faculty_data, "value_image"),
            },
          ]
        : [
            {
              id: 1,
              type: "rich text",
              detail: `<h4>${this.faculty_data.why_header}</h4>
              <div style="margin-top: 16px" class="body1">${this.faculty_data.why_description}</div>`,
            },
            {
              id: 2,
              type: "image",
              image: _.get(this.faculty_data, "why_image"),
            },
            {
              id: 3,
              type: "image",
              image: _.get(this.faculty_data, "value_image"),
            },
            {
              id: 4,
              type: "rich text",
              detail: `<h4>${this.faculty_data.value_header}</h4>
              <div style="margin-top: 16px" class="body1">${this.faculty_data.value_description}</div>`,
            },
          ];
    },
    our_partner_data() {
      return [
        {
          id: 9,
          type: "rich text",
          detail: `<h4>${this.faculty_data.partner_header}</h4>`,
        },
        {
          id: 10,
          type: "rich text",
          detail: this.faculty_data.partner_description,
        },
      ];
    },
    us_partner_data() {
      return [
        {
          id: 9,
          type: "rich text",
          detail: `<h4>${this.faculty_data.join_partner_header}</h4>`,
        },
        {
          id: 10,
          type: "rich text",
          detail: `<div class="body1">${
            this.faculty_data.join_partner_description
          }</div>
          <a style="border: 1px solid #ff5500;
        padding: 12px;
        width: 100%;
        color: #ff5500;
        display: block;
        text-decoration: none;
        text-align: center; margin-top: 24px" href="${
          this.faculty_data.join_partner_link || "#"
        }" target="_blank" rel="noopener noreferrer" class="link">
            <h6>Contact us</h6>
          </a>
          `,
        },
      ];
    },
    services_data() {
      return [
        {
          type: "text",
          title: "Our services",
          description:
            "Pretium magna eros a rhoncus imperdiet consectetur rhoncus, vulputate arcu feugiat suspendisse senectus, quisque rutrum habitasse tempus habitant sociosqu justo eleifend tortor, fames massa faucibus ad, praesent imperdiet nullam massa aenean habitant rhoncus a molestie, per molestie porta mauris conubiaPretium magna eros a rhoncus imperdiet consectetur rhoncus, vulputate arcu feugiat suspendisse senectus, quisque rutrum habitasse tempus habitant sociosqu justo eleifend tortor, fames massa faucibus ad, praesent imperdiet nullam massa aenean habitant rhoncus a molestie, per molestie porta mauris conubia..",
        },
        ...this.faculty_data.services.data,
      ];
    },
  },
  async mounted() {
    this.setPeopleTab();
    this.setAppLoading(true);
    await Promise.all([this.getFacultyData(), this.getPeoples()]);
    this.setAppLoading(false);
    if (!this.$route.hash) return;
    const element = document.querySelector(this.$route.hash);
    if (element) element.scrollIntoView();
  },
  methods: {
    ...mapMutations(["setAppLoading"]),
    async getFacultyData() {
      const query = qs.stringify(
        {
          populate: [
            "why_image",
            "value_image",
            "offer_image",
            "services.image",
            "partner_image",
          ],
          sort: ["id:asc"],
        },
        {
          encodeValuesOnly: true,
        }
      );

      try {
        const res = await this.$appApi.get(`/faculty?${query}`);
        const attributes = _.get(res, "data.attributes");
        this.faculty_data = {
          ...attributes,
          partner_image: _.get(attributes, "partner_image.data.attributes.url")
            ? process.env.api_url +
              _.get(attributes, "partner_image.data.attributes.url")
            : "",
        };
      } catch (error) {
        console.log("getFaculty ~ error:", error);
      }
    },
    setPeopleTab() {
      if (this.$route.query.tab) {
        const tab = _.replace(this.$route.query.tab, /-/g, " ");
        this.people_tab_key = tab;
      }
    },
    async getPeoples() {
      const query = qs.stringify(
        {
          populate: "*",
          sort: [`${this.people_tab_key}_order_no:asc`],
          pagination: {
            page: this.pagination.page,
            pageSize: this.pagination.page_size,
          },
          filters: {
            [`${this.people_tab_key}`]: {
              $eq: true,
            },
          },
        },
        {
          encodeValuesOnly: true,
        }
      );

      try {
        const res = await this.$appApi.get(`/ajarn-staffs?${query}`);
        const data = _.get(res, "data");

        this.people_data = _.map(data, (d) => {
          return {
            ...d,
            th_name: _.get(d, "attributes.th_name"),
            en_name: _.get(d, "attributes.en_name"),
            position: _.get(d, "attributes.position"),
            company: _.get(d, "attributes.company"),
            biography: _.get(d, "attributes.biography"),
            image:
              process.env.api_url +
              _.get(d, "attributes.photo.data.attributes.url"),
          };
        });

        this.pagination.total = _.get(res, "meta.pagination.total");
      } catch (error) {
        console.log(error);
      }
    },
    changePage(val) {
      this.pagination.page = val;
      this.getPeoples();
      const element = document.querySelector("#people");
      if (element) element.scrollIntoView();
    },
    peopleTabClick() {
      this.pagination.page = 1;
      this.getPeoples();
    },
  },
};
</script>

<style lang="scss" scoped>
.faculty-page {
  .tab-wrap {
    border-top: 1px solid $color-primary-500;
  }
  .el-tabs {
    margin-top: 80px;
    @include media-breakpoint(mobile) {
      margin-top: 40px;
    }
  }
  .people-list {
    padding-top: 0;
  }
  .partner-logo {
    padding: 80px 0;
    border-top: 1px solid $color-primary-500;
    @include media-breakpoint(mobile) {
      padding: 24px 0;
    }
    .container {
      display: flex;
      flex-wrap: wrap;
      img {
        width: 100%;
      }
    }
  }
}
.el-pagination {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
</style>
