<template>
  <div class="procurement-page">
    <IntroSection :title="procurement_data.page_name || page_name" />

    <div class="content">
      <div class="container">
        <div
          v-html="$replaceMediaPath(procurement_data.information)"
          class="rich-text"
        ></div>
      </div>
    </div>
  </div>
</template>

<script>
import _ from "lodash";
import qs from "qs";

export default {
  data() {
    return {
      page_name: "Procurement",
      procurement_data: {},
    };
  },
  head({ $config }) {
    return {
      title: `${this.page_name} - ${$config.title}`,
    };
  },
  mounted() {
    this.getProcurementData();
  },
  methods: {
    async getProcurementData() {
      const query = qs.stringify(
        {
          populate: "*",
        },
        {
          encodeValuesOnly: true,
        }
      );

      try {
        const res = await this.$appApi.get(`/procurement?${query}`);
        this.procurement_data = _.get(res, "data.attributes") || {};
      } catch (error) {
        console.log("getProcurementData ~ error:", error);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.procurement-page {
  .content {
    padding: 80px 0;
    border-top: 1px solid $color-primary-500;
  }
}
</style>
