<template>
  <div class="announcements-detail-page">
    <Content
      title="News"
      :data="{ ...announcements_data, date: announcements_data.createdAt }"
    />
  </div>
</template>

<script>
import _ from "lodash";
import qs from "qs";
import moment from "moment";

export default {
  async asyncData({ params, $appApi }) {
    let res = {};

    const query = qs.stringify(
      {
        // populate: ["detail"],
      },
      {
        encodeValuesOnly: true,
      }
    );

    try {
      res = await $appApi.get(`/announcements/${params.id}?${query}`);
    } catch (error) {
      console.log(error);
    }

    return { announcements_data: _.get(res, "data.attributes") || {} };
  },
  head({ $config }) {
    return {
      title: `Announcements - ${this.announcements_data.title} - ${$config.title}`,
    };
  },
  data() {
    return {
      tab_key: "latest_news",
      news_data: [],
    };
  },
  computed: {},
  mounted() {
    // console.log(this.announcements_data);
    // this.getLatestNews();
  },
  methods: {
    getDateTime(w) {
      return moment(w).format("MMM D, YYYY");
    },
    async getLatestNews() {
      const query = qs.stringify(
        {
          populate: "*",
          sort: ["createdAt:desc"],
          filters: {
            id: {
              $ne: this.$route.params.id,
            },
          },
        },
        {
          encodeValuesOnly: true,
        }
      );

      try {
        const res = await this.$appApi.get(`/announcements?${query}`);
        const data = _.get(res, "data");

        this.news_data = _.map(data, (d) => {
          return {
            id: _.get(d, "id"),
            ..._.get(d, "attributes"),
          };
        });
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>

<style lang="scss" scoped></style>
